<!DOCTYPE html>
<html>

  {% include head.html %}

    <head>
    <style>
    body {
      background-image: url('{{ ShaneMakesGames.github.io }}/assets/images/bgImage.png');
      background-repeat: repeat;
      background-attachment: fixed;  
      background-size: cover; 
    }
    </style>
    </head>
	
  <body>

    <main class="wrapper">
      
      {% include header.html %}

      <div class="container">
		{{ content }}

		{% include info.html %}

        {% include footer.html %}
      </div>
    
    </main>

    {% include scripts.html %}
    
  </body>

</html>
